{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "FileReader": true,
    "btoa": true,
    "atob": true,
    "fetch": true,
    "URL": true
  },
  "plugins": ["react", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "comma-dangle": "off",
    "getter-return": "off",
    "no-async-promise-executor": "off",
    "no-case-declarations": 0,
    "no-console": "off",
    "no-prototype-builtins": "off",
    "no-misleading-character-class": "off",
    "no-useless-catch": "off",
    "react/no-unescaped-entities": [0],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/display-name": "off",
    "require-atomic-updates": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-extra-semi": "off"
  }
}
